
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <style>
        .body {
            text-align:center;
        }
        .img>img {
            margin-bottom:10px;
            width:900px;
            
        }
    </style>
</head>
<body>
   <div class="body">
       @for (int i = 1; i <= 5; i++)
       {
           string s = "main0" + i + ".jpg";
        <div class="img">
            <img data-original="~/Images/main/@s" src="~/Images/main/@s" />
        </div>
       }
       
   </div>
</body>
</html>

